@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">MedicBlue Clinic</h2>
    <br />
    <h3 class="display-4">Cuidamos da saúde e bem estar de quem é Bluemer!</h3>    
</div>
<div>
    <img src="https://prodbookdoccom.s3.amazonaws.com/uploads/doctor/avatars/903a10e4b1.JPG" class="img-fluid" alt="Clinic Image">    
</div>

